.header {
  width: 100%;
  height: 700px;
  background-color: #E9DED4;
  overflow: hidden;
  @include fonbef(700px, 150);

  @include mobile {
    height: 774px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
      flex-direction: column;

    }

    @include mobile {
      height: 774px;
    }
  }

  &__logo {
    position: absolute;
    top: 26px;
    left: 10px;
    z-index: 1000;

    @include tablet {
      top: 18px;
      left: 20px;

      &-image {
        width: 213px;
        height: 32px;
      }
    }
  }

  &__content {
    max-width: 542px;
    min-height: 444px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 500;

    @include tablet {
      margin: 90px 0 0;
      min-height: 500px;
    }

    @include mobile {
      max-width: 335px;
      min-height: 393px;
    }
  }

  &__title {
    @include ff-merr(1.1);
    @include font-size(60, 36);
    text-transform: uppercase;

    & p:nth-child(2) {
      text-align: center;
    }

    & p:nth-child(3) {
      text-align: end;
    }

    @include laptop {
      max-width: 415px;
    }

    @include tablet {
      max-width: none;
      @include font-size(90, 36);
    }

    @include mobile {
      max-width: 335px;
    }
  }

  &__subtitle {
    @include ff-golos(1.3, 400);
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;

    @include mobile {
      text-align: start;
      padding: 7px 0 11px;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;

    @include tablet {
      flex-direction: column;
      row-gap: 14px;
    }

    &-item {
      width: 100%;
      height: 72px;
      border-radius: 66px;
      font-size: 16px;
      @include ff-golos(1.3, 500);
      border: 2px solid var(--color-black-block);
      @include flex-center;
      transition: all .3s ease;
      text-align: center;
      
      span {
        width: min-content;
        
        &>span {
          text-wrap: nowrap;
        }
        
      }
      @include tablet {
        height: 57px;
      }

      @include mobile {
        height: 47px;

        span {
          text-wrap: nowrap;
        }
      }


      &:nth-child(1) {
        background-color: var(--color-black-block);
        color: var(--color-white);


        @include hover {
          background-color: #FBCE51;
          color: var(--color-black-text);
          border: 2px solid #FBCE51;
        }

      }

      &:nth-child(2) {
        background: inherit;
        color: var(--color-black-block);

        @include hover {
          background-color: var(--color-black-block);
          color: var(--color-white);
        }

        @include laptop {
          background: var(--color-white);
          opacity: 0.9;
        }

      }
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    max-width: 680px;
    position: relative;

    @include tablet {
      opacity: 0.8;
    }

    @include mobile {
      opacity: 1;
    }

    &-item {
      position: absolute;

      &:nth-child(1) {
        z-index: 100;
        right: 448px;
        bottom: 170px;
        opacity: 0;
        translate: 0 -130%;
        rotate: 60deg;

        &.show {
          transition: all 1.2s ease 0.4s;
          opacity: 1;
          translate: 0px 0;
          rotate: -6deg;
        }

        @include laptop {
          width: 90px;
          height: 190px;
          right: 350px;
          bottom: 123px;
        }

        @include tablet {
          width: 60px;
          height: 160px;
          right: 250px;
          bottom: 113px;
        }

        @include mobile {
          width: 48px;
          height: 117px;
        }
      }

      &:nth-child(2) {
        z-index: 100;
        right: 102px;
        bottom: 39.5%;
        opacity: 0;
        translate: 0 130%;
        rotate: -150deg;

        &.show {
          transition: all 1.1s ease 0.4s;
          opacity: 1;
          translate: 0px 0;
          rotate: 8deg;

          @include mobile {
            rotate: 13deg;
          }
        }

        @include laptop {
          width: 95px;
          height: 195px;
          bottom: 250px;
        }

        @include tablet {
          width: 65px;
          height: 165px;
          right: 82px;
          bottom: 166px;
        }

        @include mobile {
          width: 47px;
          height: 105px;
        }
      }

      &:nth-child(3) {
        z-index: 200;
        right: 283px;
        bottom: -38px;
        opacity: 0;
        translate: 130% 0;
        rotate: 110deg;

        &.show {
          transition: all 1.2s ease 0.2s;
          opacity: 1;
          translate: 0px 0;
          rotate: -11deg;
        }

        @include laptop {
          width: 124px;
          height: 214px;
        }

        @include tablet {
          width: 94px;
          height: 174px;
          right: 210px;
        }

        @include mobile {
          width: 77px;
          height: 122px;
          right: 133px;
          bottom: -15px;
        }
      }

      &:nth-child(4) {
        z-index: 200;
        right: -28px;
        bottom: 19px;
        opacity: 0;
        translate: 130% 30%;

        &.show {
          transition: all 1.1s ease 0.4s;
          opacity: 1;
          translate: 0px 0;
        }

        @include laptop {
          width: 68px;
          height: 104px;
        }

        @include tablet {
          width: 50px;
          height: 80px;
        }

        @include mobile {
          display: none;
        }
      }

      &:nth-child(5) {
        bottom: -1px;
        right: -214px;
        z-index: 100;

        @include laptop {
          width: 1400px;
          height: 380px;
        }

        @include tablet {
          width: 1150px;
          height: 300px;
        }

        @include mobile {
          width: 886px;
          height: 240px;
          right: -118px;
          bottom: 2px;
        }
      }

      &:nth-child(6) {
        bottom: 22px;
        right: -98px;
        z-index: 1;
        animation: rotateAnim 30s linear infinite;

        @keyframes rotateAnim {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(-360deg);
          }
        }

        @include laptop {
          width: 680px;
          height: 680px;
        }

        @include tablet {
          width: 500px;
          height: 500px;
        }

        @include mobile {
          width: 350px;
          height: 350px;
          right: 12px;
          bottom: 41px;
        }
      }

    }
  }
}