// variables
:root {
  --color-black-text: #313131;
  --color-black-block: #1f1f1f;
  --color-white: #ffffff;
  --color-red: #F54932;
  --color-blue: #3057A2;
  --color-gray: #D0D0D0;
}

//--------------------------------------------------------------------------\\

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  background-color: var(--color-write);
  color: var(--color-black-text);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1242px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

svg *[fill] {
  fill: currentColor
}

svg *[stroke] {
  stroke: currentColor
}