$desktop-above: 1367px;
$desktop: 1366px;

$laptop-above: 1025px;
$laptop: 1024px;

$tablet-above: 769px;
$tablet: 768px;

$mobile-above: 376px;
$mobile: 375px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop-above {
  @media (min-width: $laptop-above) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin responsive-img($width, $height) {
  width: $width;
  height: $height;

  @media (max-width: $desktop) {
    width: calc($width * 0.9); // Уменьшаем на 10% для экрана <= 1200px
    height: calc($height * 0.9);
  }

  @media (max-width: $laptop) {
    width: calc($width * 0.8); // Уменьшаем на 20% для экрана <= 992px
    height: calc($height * 0.8);
  }

  @media (max-width: $tablet) {
    width: calc($width * 0.7); // Уменьшаем на 30% для экрана <= 768px
    height: calc($height * 0.7);
  }

  @media (max-width: $mobile) {
    width: calc($width * 0.6); // Уменьшаем на 40% для экрана <= 576px
    height: calc($height * 0.6);
  }
}